// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
  primary:     $blue.darken-3,
  accent:      $blue.accent-2,
  secondary:   $teal.darken-1,
  info:        $blue.lighten-1,
  warning:     $amber.darken-2,
  error:       $red.accent-4,
  success:     $green.lighten-2
}

$basic = $blue.darken-3

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

.page
  @extend .fade-transition

.logo
  text-decoration none
  color white

.cart-link
  text-decoration none
  color black

.layout_toolbar__search
    min-height 30px
    height 30px
    .v-input__control
        min-height 30px !important

.v-input--is-focused i
    color $basic !important

.v-card--reveal
  align-items center
  justify-content center
  opacity .7
  position absolute
  width 100%
  height 100%

.swiper-button-prev
    background-image none

.carousel 
    .product-card
        height 99%
    .swiper-slide
        height auto

.carousel-button-prev
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
    
.v-menu__content 
        margin-top: 36px;
    
.overflow_in_baskets 
        max-height: 380px;
        overflow: auto;
