// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
  primary:     $blue.darken-3
  accent:      $blue.accent-2
  secondary:   $teal.darken-1
  info:        $blue.lighten-1
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main'

.page
  @extend .fade-transition

.logo
  text-decoration none
  color black

.v-card--reveal
  align-items center
  justify-content center
  opacity .7
  position absolute
  width 100%
  height 100%